---
import { type MousePost } from "src/api/prismic";
import MouseUICard from "src/components/mouse/MouseUICard.tsx";
import { getAllMouse } from "../api/prismic";

const mouseData = (await getAllMouse()).map((mouseData) => mouseData);

---
<!-- add a search bar before cards -->
<input type="text" id="search" name="search" placeholder="Search for a mouse" />
<div class="cards">
    {mouseData.map((mouse) => (<MouseUICard mousePost={mouse} />))}
</div>

<style>
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 -1rem;
  max-width: 800px;
  margin: 0 auto;
  width: 100%; 
  gap: 1rem; 
}
</style>



