#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.instagram {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  color: white;
}

.discord {
  background: rgb(88, 101, 242) !important;
  color: white;
}

.tiktok {
  background: rgb(0, 0, 0) !important;
  color: white;
}

.misc {
  background: white !important;
  color: black;
}

.tokopedia {
  background: rgb(0, 126, 17) !important;
  color: white;
}

.chevron {
  width: 1rem;
  height: 1rem;
  padding: 0;
  margin: 0;
  transform: rotate(0deg);
  fill: black;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out,
    fill 0.2s ease-in-out;
}

.chevron-toggle {
  width: 1rem;
  height: 1rem;
  padding: 0;
  margin: 0;
  color: white;
  fill: white;
  transform: rotate(90deg);
}

/* create a media query for screen of 600px and below */

@media screen and (max-width: 600px) {
  #root {
    padding: 1rem;
  }
}
