---
import { SITE_TITLE } from "../consts";
import NewHeader from "src/components/NewHeader";
---

<header class="headerClass">
  <nav class="navClass">
    <h2 class="text-bold">{SITE_TITLE}</h2>
    <NewHeader client:only="react" />
  </nav>
</header>
<style>
  .headerClass {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 1rem 4rem;
    margin-bottom: 2rem;
  }
  .navClass {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
  .navClass a {
    text-decoration: none;
  }
</style>
