---
import { type MousePost } from "src/api/prismic";
import MouseUICard from "src/components/mouse/MouseUICard.tsx";

const { mouseData } = Astro.props;

const data = mouseData as MousePost[];
console.log(data);

//const cards = data.map((mouse) => (<MouseUICard data={mouse} />));

let currentInput = "";



---
<!-- add a search bar before cards -->
<input type="text" id="search" name="search" placeholder="Search for a mouse" />
<div class="cards">
    {data.map((mouse) => (<MouseUICard data={mouse} />))}
</div>

<style>
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 -1rem;
  max-width: 800px;
  margin: 0 auto;
  width: 100%; 
  gap: 1rem; 
}
</style>



