.rank-badge {
  position: absolute;
  padding: 0.7rem;
  margin: 0.8rem 0 0 0.8rem;
  background: #fff;
  border-radius: 10px;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-size: 0.7rem;
}
.rank-badge > .letter {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1rem;
}

.badge--s {
  color: #dd0000;
  background: #ffc1c1;
}

.badge--a-plus {
  color: #969901;
  background: #ffffc1;
}

.badge--a {
  /*shade of green */
  color: #019901;
  background: #c1ffc1;
}

.badge--b-plus {
  /*shade of yellow */
  color: #018f99;
  background: #c1ffff;
}

.badge--b {
  /*shade of blue */
  color: #0000dd;
  background: #c1c1ff;
}

.badge--c-plus {
  /*shade of orange */
  color: #540099;
  background: #ffc1ff;
}

.badge--c {
  /*shade of purple */
  color: #7f0031;
  background: #ffc1ff;
}

.badge--f {
  /*shade  of grey */
  color: #535353;
  background: #a0a0a0;
}

/* Position the badge within the container */
